
div.navbar.bg-neutral.text-neutral-content
  div.navbar-start
    a.btn(href="/").btn-primary Home
  div.navbar-center
    ul.menu.menu-horizontal.px-1
      li
        a.fs-50(href="/projects",style="font-size:18px;") All Projects
      li
        a(href="/blogs",style="font-size:18px;") Blog
  div.navbar-end
    p
 

