doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css" type="text/css")
        script(src="https://cdn.tailwindcss.com") 
        title Projects
    body 
        include navbar
        p.text-3xl.font-bold(style="padding-top:25px; margin-left:10px;margin-bottom:10px;") All projects
        .overflow-x-auto
          table.table.table-zebra
    
           thead
             tr
              th Name
              th Start date
              th Funding

           tbody
            each p in projects
             tr
              td=  p.Prj_title
              td= p.Start_date
              td= p.Funding

     
     
